@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,300;1,200&family=PT+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}
body {
    font-family: Barlow, sans-serif;
    font-weight: 400;
    background-color: black;
}
h1 {
    font-family: Barlow, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: white;
}
h2 {
    font-family: Barlow, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: white;
}
#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;
    clear: both;
}
#menu,
#logo {
    line-height: 75px;
}
#menu {
    font-size: 110%;
    letter-spacing: 4px;
    color: rgb(243, 244, 244);
}
#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}
#menu a {
    text-decoration: none;
    color: inherit;
}
#menu a:hover {
    padding: 10px 15px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    color: #fff;
    background-color: #9ca7a3;
    border: none;
    border-radius: 5px;
    box-shadow: 0 5px rgb(162, 155, 155);
}
.active {
    border-bottom: 1px solid rgb(245, 237, 237);
}
/*background image */
#background-outer {
    overflow: hidden;
    height: 600px;
    width: 100%;
}
/* text box for background-image */

#cover-text,
#cover-text h2 {
    color: rgb(249, 249, 249);
}
#background {
    height: 500px;
    width: 100%;
    background: url(../images/cover.webp) no-repeat center;
    background-size: cover;
    /* effects for the background */
    animation-name: hero-zoom;
    animation-duration: 10s;
    animation-fill-mode: forwards;
}
/* creates the level of zoom for hero image */
@keyframes hero-zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.5);
    }
}
#cover-text {
    font-size: 130%;
    font-family: Barlow, sans-serif;
    text-transform: none;
    letter-spacing: 4px;
    width: 300px;
    height: 200px;
    padding-top: 10px;
    padding-left: 10px;
    background-color: rgba(0, 0, 0, 0.9);
    bottom: 50px;
    right: 150px;
    position: absolute;
}
/*Reasons Description of the website */
#reasons {
    background-size: cover;
}
.reasons {
    color: rgb(255, 255, 255);
    text-align: center;
    display: flex;
    align-content: center;
    justify-content:center;
    font-size: 25px;
}
.reasonscontent {
    max-width: 60%;
    background-color: rgba(0, 0, 0, 0.9);
    border: 2px solid rgb(255, 153, 0);
    align-self: center;
    border-radius: 30%;
    font-size: 25px;
    padding: 2rem;
}
.reasonsbig {
    font-weight: bold;
     display: block;
     margin-top: 2rem;
     text-transform:uppercase;
     font-size: 25px;
}
.reasonsbutton {

    align-self: center;
    background-color: #e27100;
    font-weight: bold;
    flex-direction: column;
}
.signupbutton {
    background-color: #ff9100;
    text-align: center;
    width: 100%;
    justify-content: center;
    border-radius: 5px;
    display: flex;
    margin-bottom: 10%;
    color: #fff;
    font-size: 40px;
    letter-spacing: 4px;
    color: rgb(243, 244, 244);
    text-decoration: none;
    text-transform: capitalize;
}
.signupbutton:hover {
padding: 10px 15px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    color: #fff;
    background-color: #ec6a00;
    border: none;
    border-radius: 5px;
    box-shadow: 0 5px rgb(162, 155, 155);
}
/*Teachers */
.greeting h2 {
    text-align: center;
    clear: both;
    padding-top: 20px;
}
.chef-1,
.chef-2,
.chef-3,
.chef-4 {
    display: inline-block;
    width: 33%;
    align-items: center;
    justify-content: center;
}
.chefs-image {
    clear: both;
    height: 220px;
    width: 220px;
    border: 2px solid #ffaa00;
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
    padding: 10px;
    margin-top: 10%;
}
.flex-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.chef-profiles {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
figcaption {
    display: inline-block;
    font-size: 15px;
    line-height: 1.5;
    color: white;
    width: 50%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
}
.chefs-image:hover {
    transform: scale(1.1);
}
/*footer */
footer {
    text-align: center;
}
#linha-vertical {
    height: 200px;
    border-right: 1px solid red;
}
.social-networks {
    text-align: center;
}
.social-networks>li {
    display: inline;
}
.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
}
/*form */
form {
    clear: both;
    background-image: url('../images/chefplatingwithsmoke.png');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    padding: 3rem;
}
.contact-form {
    flex-direction: column;
    border: none;
    border-radius: 50px;
    font-size: 30px;
    color: #ffffff;
    font-weight: bold;
    border: solid 3px #e27100;
    width: 70%;
}
input,
text {
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
    font-size: 0.8rem;
}
.submit-button button {
    width: 100%;
    margin-top: 2.5rem;
    border: none;
    background-color: #ffb909;
    padding: 0.62rem;
    border-radius: 5px;
    cursor: pointer;
}
.submit-button button:hover {
    background-color: #fffffff1;
}
.submit-button:hover {
    background-color: #ffb909;
    color: #ffffff;
}
#comment {
    width: 60%;
    height: 80%;
    margin-top: 20px;
}
.form {
    margin: 0 auto;
}
/*images for gallery*/
#photos {
    clear: both;
    column-count: 4;
    display: inline-block;
    text-align: center;
}
#photos img {
    width: 80%;
}

/* 404 Page error */
.error {
    text-align: center;
    clear: both;
    padding-top: 10%;

}
.errorfour
{
    font-size: 60px;
}
.homereturn {
    font-size: large;
    color: #fff;
    text-decoration: none; 
}
.homereturn:hover {
    color: #e27100;
    text-decoration: underline;
}
/* Media queries */
@media only screen and (max-width: 1064px) {
    .contact-form {
        display: flex;
        flex-direction: column;
    }
.reasonscontent {
    min-width: 80vw;
    flex-direction: column;
    padding:10px;
}
.reasons button {
    min-width: 40%;
    flex-direction: column;
}
}
@media (max-width: 800px) {
    #photos {
        flex-direction: column;
        display: flex;
        padding-bottom: 5px;
        align-items: center;
    }
}
@media (min-width:1000px) and (max-width: 3000px) {
    #descriptionchef {
        display: flex;
        width: 65%;
        height: 1200px;
        margin: 0 auto;
        flex-direction: column;
    }
    hr {
        display: none;
    }
    #cover-text {
        bottom: 20px;
        right: 0;
        position: sticky;
        
    }
}
@media screen and (max-width: 950px) {
    #menu {
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 25px;
    }
        #cover-text {
           position: sticky;
        }
    }
    
@media screen and (max-width: 770px) {
    #cover-text {
        bottom: 20px;
        right: 0;
        position: sticky;
     }
    .chef-1,
    .chef-2,
    .chef-3,
    .chef-4 {
        width: 70%;
        display: grid;
        }
    figcaption {
        width: 70%;
        
    }
.reasons {
    min-width: 90vw;
    flex-direction: column;
}
.reasonscontent h2 {
    font-weight: 400;
    flex-direction: column;
}
.reasonscontent p {
    display: block;
}
.reasons button {
    max-width: 95vw;
}
#chefs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

}
@media screen and (max-width: 500px) {
#chefs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

}
